.main {
    font-family: 'Roboto', sans-serif;
    background-color: #1f2937;
}

.footer {
    background-color: #1f2937;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.header, a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

button, .fourth {
    background-color: #3882F6;
}

h2 {
    font-weight: 900;
    font-size: 36px;
    color: #1F2937;
}

.third {
    background-color: #E5E7EB;
}

.quote {
    font-weight: 300;
    font-size: 36px;
    color:#1F2937
}