.main {
    font-family: 'Roboto', sans-serif;
    background-color: #1f2937;
    
}

.footer {
    background-color: #1f2937;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.header, a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 8px;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

button, .fourth {
    background-color: #3882F6;
}

h2 {
    font-weight: 900;
    font-size: 36px;
    color: #1F2937;
}

.third {
    background-color: #E5E7EB;
}

.quote {
    font-weight: 300;
    font-size: 36px;
    color:#1F2937
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.topimg {
    width: 400px;
    height: 200px;
}

.first {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.second {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.third {
    display: flex;
    flex: 1;
}

.fourth {
    display: flex;
    flex: 1;
}

figure img {
    width:200px;
    height: 200px;
}

.img-grp {
    display: flex;
    justify-content: center;
}

button {
    width: 40px;
}

.hero {
    font-size: 18px;
    color: #E5E7EB;
}

.firstgroup {
    display: flex;
    flex-direction: column;
}

.firstsecondgroup {
    display: flex;
}

.hero_main {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}